.background{
    background-image: url("../img/lines-background.jpg");
    background-size: 100% 100%;
}
.customnav{
    margin-top: 25px;
    margin-bottom: 35px;
    height: 65px;
    background-color: #515169 ;
    border-radius: 15px;
}
.listtodo{
    background-color:#bcbcd6;
}

.buttontk{
    display: inline-block;
    padding: 9px 31px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #954e97;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

.buttontk:hover {
    background-color: #a73259;
    color: white;
    box-shadow: 0 9px #999;
}
.buttontk:disabled{
  background-color: #050404;
  color: white;
  box-shadow: 0 9px #999;
}
.buttontk:active {
  background-color: #a73259;
  box-shadow: 0 10px #666;
  transform: translateY(4px);
  
}